#!/bin/bash

keys_file=.envrc-local

[ ! -f ${keys_file} ] && cp ${keys_file}-template ${keys_file}
source_env ${keys_file}

[ -z "${UNITTEST_TOKEN_ACCOUNT}" ] \
  && echowarn "If you want to run TriplyDB-js tests locally, make sure to set the correct environment variables in ${keys_file}. Make sure to use a separate user account for these unit tests!!! (see readme)"
[ -z "${UNITTEST_NAMESPACE}" ] \
  && echowarn "Please add the env variable UNITTEST_NAMESPACE to ./.envrc-local to allow running the test suite. See ./.envrc-local-template for more info"
