#!/bin/bash

keys_file=.envrc-private

[ ! -f ${keys_file} ] && cp ${keys_file}-template ${keys_file}
source_env ${keys_file}

export UNITTEST_NAMESPACE=${UNITTEST_NAMESPACE:-triplydb-js}

[ -z "${UNITTEST_TOKEN_ACCOUNT}" ] \
  && echowarn "If you want to run TriplyDB-js tests locally, make sure to set the correct environment variables in ${keys_file}. Make sure to use a separate user account for these unit tests!!! (see readme)"
